<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>50034122711-0backjsp0mnuurufj912tjm48segq463.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.50034122711-0backjsp0mnuurufj912tjm48segq463</string>
	<key>API_KEY</key>
	<string>AIzaSyB548D0Pjv-Mv3oqZfLIBpyZAZp196plCw</string>
	<key>GCM_SENDER_ID</key>
	<string>50034122711</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sahaTechnology.FoodApp</string>
	<key>PROJECT_ID</key>
	<string>foodapp-b9377</string>
	<key>STORAGE_BUCKET</key>
	<string>foodapp-b9377.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:50034122711:ios:a14c27c9df2fd7f8dbf592</string>
	<key>DATABASE_URL</key>
	<string>https://foodapp-b9377.firebaseio.com</string>
</dict>
</plist>